@import "tailwindcss";

@theme {
  --color-bold-blue: #121E6C;
  --color-bold-red: #EE424E;
  --color-bold-gray-dark: #606060;
  --color-bold-gray-light: #F3F3F3;
  --color-bold-background: #F6F4F9;

  --font-montserrat: var(--font-montserrat), sans-serif;

  --background-image-bold-gradient: linear-gradient(to right, #111E6C 0%, #EF434E 100%);
}

body {
  font-family: var(--font-montserrat);
}
/* 
dialog {
  transform: translateX(0);
  transition: all 0.3s ease-in;

  @starting-style {
    transform: translateX(100%);
  }
} */
